.header-home {
}
.header-home h1 {
  font-size: 70px;
  margin-bottom: 10px;
}
.header-home h2 {
  font-size: 20px;
  margin-bottom: 10px;
}
.header-home h3 {
  font-size: 35px;
  font-weight: 500;
}
.header-home p {
  font-size: 1.125rem;
  width: 50%;
}

.blog-posts {
  padding: 5rem 0;
}

.blog-posts-list {
  display: grid;
  align-items: stretch;
  // grid-template-columns: 1fr 1fr 1fr;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 1.5rem;
  margin-bottom: 3rem;
}

.blog-post-item {
  background-color: #f5f5f5;
  padding: 1rem;
  border: 1px solid #f5f5f5;
  border-bottom: 5px solid #7026b9;
  border-radius: 4px;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.2);
  list-style-type: none;
  position: relative;
  -webkit-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  transform: translateZ(0) scale(1, 1);
  backface-visibility: hidden;
}

.blog-post-item:hover {
  /*transform: translateY(-5px);*/
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.3);
}

.blog-post-title {
  margin-bottom: 1.45rem !important;
  display: block;
  color: rgba(0, 0, 0, 0.8);
  text-decoration: none;
  transition: all 0.3s;
}

.blog-post-item:hover .blog-post-title {
  color: var(--purple);
}

.home-socials {
  display: flex;
  list-style-type: none;
  margin-left: 0;
}
.home-socials-item {
  margin-right: 1rem;
  text-decoration: none;
}
