.footer {
  font-family: 'Karla', sans-serif;
  background: linear-gradient(to right, #f219aa, #7026b9);
  padding: 2rem 0;
  color: #ffffff;
  text-align: center;
}

.footer-text {
  text-align: center;
  margin-bottom: 0;
}
